{% load looker_list_tools %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Looker</th>
      <th scope="col">GM Games</th>
      <th scope="col">Play Games</th>
      <th scope="col">Platforms</th>
      <th scope="col">Game Types</th>
    </tr>
  </thead>
  <tbody>
    {% for looker in page_obj %}
      <tr>
        <th>{{ looker.id }}</th>
        <td>
          <a href="{% url 'users:looker_detail_view' looker.id %}">{{ looker.username }}</a>
        </td>
        <td title="{{ looker.gm_games.all|list_names|join:', ' }}" style="cursor: pointer;">
          {% if looker.fav_gm_game.alias %}
            {{ looker.fav_gm_game.alias }}
          {% else %}
            {{ looker.fav_gm_game.name }}
          {% endif %}
          {% if looker.gm_games.all|length > 1 %}
            <span class="badge text-bg-secondary">+{{ looker.gm_games.all|length|add:-1 }}</span>
          {% endif %}
        </td>
        <td title="{{ looker.player_games.all|list_names|join:', ' }}" style="cursor: pointer;">
          {% if looker.fav_player_game.alias %}
            {{ looker.fav_player_game.alias }}
          {% else %}
            {{ looker.fav_player_game.name }}
          {% endif %}
          {% if looker.player_games.all|length > 1 %}
            <span class="badge text-bg-secondary">+{{ looker.player_games.all|length|add:-1 }}</span>
          {% endif %}
        </td>
        <td title="{{ looker.platforms.all|list_names|join:', ' }}" style="cursor: pointer;">
          {{ looker.fav_platform.name }}
          {% if looker.platforms.all|length > 1 %}
            <span class="badge text-bg-secondary">+{{ looker.platforms.all|length|add:-1 }}</span>
          {% endif %}
        </td>
        <td title="{{ looker.game_types.all|list_names|join:', ' }}" style="cursor: pointer;">
          {{ looker.fav_game_type.name }}
          {% if looker.game_types.all|length > 1 %}
            <span class="badge text-bg-secondary">+{{ looker.game_types.all|length|add:-1 }}</span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
