{% load navigation_tools %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'landing:index' %}">LFGHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% active request '/users/' %}" href="{% url 'users:lookers_list' %}">Lookers List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active request '/users/lookers-statistics' %}" href="{% url 'users:lookers_statistics' %}">Lookers Statistics</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        {% if user.is_authenticated %}
          <a class="btn btn-primary me-2" href="{% url 'users:looker_profile_view' user.id %}">
            <strong>
              <span class="icon"><i class="bi bi-person-circle"></i></span>
              <span>{{ user.username }}</span>
            </strong>
          </a>
          <a class="btn btn-outline-secondary me-2" href="{% url 'users:logout' %}">Log out</a>
        {% else %}
          <a class="btn btn-primary me-2" href="{% url 'users:signup' %}"><strong>Sign up</strong></a>
          <a class="btn btn-outline-primary me-2" href="{% url 'users:login' %}">Log in</a>
        {% endif %}
        {% if user.is_superuser %}
          <a class="me-2 my-auto" href="http://127.0.0.1:8000/admin/" target="_blank"><i class="bi bi-gear"></i></a>
        {% endif %}
      </form>
    </div>
  </div>
</nav>
